version: '3.9'

services:

  backend:
    build:
      context: ./backend
    container_name: backend-app
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: prod
    networks:
      - mynetwork
    restart: always

  frontend:
    build:
      context: ./frontend
    container_name: frontend-app
    ports:
      - "4200:4200"   # frontend visible en http://localhost:4200
    volumes:
      - ./frontend:/app          # Hot reload
      - /app/node_modules        # Mantener node_modules dentro del contenedor
    depends_on:
      - backend
    networks:
      - mynetwork
    restart: always

networks:
  mynetwork:
    driver: bridge